:root {
  --title-1-bold-font-family: "SF Pro Text", Helvetica;
  --title-1-bold-font-weight: 700;
  --title-1-bold-font-size: 32.79999923706055px;
  --title-1-bold-letter-spacing: -1.3119999694824218px;
  --title-1-bold-line-height: normal;
  --title-1-bold-font-style: normal;
  --title-2-bold-font-family: "SF Pro Text", Helvetica;
  --title-2-bold-font-weight: 700;
  --title-2-bold-font-size: 26.799999237060547px;
  --title-2-bold-letter-spacing: -0.9379999732971191px;
  --title-2-bold-line-height: normal;
  --title-2-bold-font-style: normal;
  --title-3-semibold-font-family: "SF Pro Text", Helvetica;
  --title-3-semibold-font-weight: 400;
  --title-3-semibold-font-size: 20.65999984741211px;
  --title-3-semibold-letter-spacing: -0.7230999946594239px;
  --title-3-semibold-line-height: normal;
  --title-3-semibold-font-style: normal;
  --title-4-font-family: "SF Pro Text", Helvetica;
  --title-4-font-weight: 400;
  --title-4-font-size: 20px;
  --title-4-letter-spacing: -0.3px;
  --title-4-line-height: normal;
  --title-4-font-style: normal;
  --title-5-font-family: "SF Pro Text", Helvetica;
  --title-5-font-weight: 400;
  --title-5-font-size: 16.799999237060547px;
  --title-5-letter-spacing: -0.33599998474121096px;
  --title-5-line-height: normal;
  --title-5-font-style: normal;
  --title-5-semibold-font-family: "SF Pro Text", Helvetica;
  --title-5-semibold-font-weight: 400;
  --title-5-semibold-font-size: 16.799999237060547px;
  --title-5-semibold-letter-spacing: -0.33599998474121096px;
  --title-5-semibold-line-height: normal;
  --title-5-semibold-font-style: normal;
  --body-1-font-family: "SF Pro Text", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 16.399999618530273px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: normal;
  --body-1-font-style: normal;
  --body-2-bold-font-family: "SF Pro Text", Helvetica;
  --body-2-bold-font-weight: 400;
  --body-2-bold-font-size: 16px;
  --body-2-bold-letter-spacing: -0.32px;
  --body-2-bold-line-height: normal;
  --body-2-bold-font-style: normal;
  --body-2-font-family: "SF Pro Text", Helvetica;
  --body-2-font-weight: 400;
  --body-2-font-size: 16px;
  --body-2-letter-spacing: -0.32px;
  --body-2-line-height: normal;
  --body-2-font-style: normal;
  --body-2-xline-height-font-family: "SF Pro Text", Helvetica;
  --body-2-xline-height-font-weight: 400;
  --body-2-xline-height-font-size: 16px;
  --body-2-xline-height-letter-spacing: -0.32px;
  --body-2-xline-height-line-height: 21px;
  --body-2-xline-height-font-style: normal;
  --body-3-font-family: "SF Pro Text", Helvetica;
  --body-3-font-weight: 400;
  --body-3-font-size: 15.800000190734863px;
  --body-3-letter-spacing: -0.20539999494552602px;
  --body-3-line-height: 21px;
  --body-3-font-style: normal;
  --body-3-semibold-font-family: "SF Pro Text", Helvetica;
  --body-3-semibold-font-weight: 400;
  --body-3-semibold-font-size: 15.800000190734863px;
  --body-3-semibold-letter-spacing: -0.8690000104904175px;
  --body-3-semibold-line-height: 19px;
  --body-3-semibold-font-style: normal;
  --body-3-underline-font-family: "SF Pro Text", Helvetica;
  --body-3-underline-font-weight: 400;
  --body-3-underline-font-size: 15.800000190734863px;
  --body-3-underline-letter-spacing: -0.20539999494552602px;
  --body-3-underline-line-height: 21px;
  --body-3-underline-font-style: normal;
  --body-4-font-family: "SF Pro Text", Helvetica;
  --body-4-font-weight: 400;
  --body-4-font-size: 14px;
  --body-4-letter-spacing: -0.14px;
  --body-4-line-height: 19px;
  --body-4-font-style: normal;
  --body-4-semibold-font-family: "SF Pro Text", Helvetica;
  --body-4-semibold-font-weight: 400;
  --body-4-semibold-font-size: 14px;
  --body-4-semibold-letter-spacing: -0.14px;
  --body-4-semibold-line-height: 19px;
  --body-4-semibold-font-style: normal;
  --body-4-uppercase-font-family: "SF Pro Text", Helvetica;
  --body-4-uppercase-font-weight: 400;
  --body-4-uppercase-font-size: 14.199999809265137px;
  --body-4-uppercase-letter-spacing: -0.28399999618530275px;
  --body-4-uppercase-line-height: normal;
  --body-4-uppercase-font-style: normal;
  --body-5-semibold-font-family: "SF Pro Text", Helvetica;
  --body-5-semibold-font-weight: 400;
  --body-5-semibold-font-size: 13px;
  --body-5-semibold-letter-spacing: -0.13px;
  --body-5-semibold-line-height: 15px;
  --body-5-semibold-font-style: normal;
  --body-6-semibold-font-family: "SF Pro Text", Helvetica;
  --body-6-semibold-font-weight: 400;
  --body-6-semibold-font-size: 12px;
  --body-6-semibold-letter-spacing: 0px;
  --body-6-semibold-line-height: normal;
  --body-6-semibold-font-style: normal;
  --body-6-font-family: "SF Pro Text", Helvetica;
  --body-6-font-weight: 400;
  --body-6-font-size: 12px;
  --body-6-letter-spacing: -0.12px;
  --body-6-line-height: normal;
  --body-6-font-style: normal;
  --body-6-large-kerning-font-family: "SF Pro Text", Helvetica;
  --body-6-large-kerning-font-weight: 400;
  --body-6-large-kerning-font-size: 12px;
  --body-6-large-kerning-letter-spacing: 0px;
  --body-6-large-kerning-line-height: 16px;
  --body-6-large-kerning-font-style: normal;
  --body-6-xline-height-font-family: "SF Pro Text", Helvetica;
  --body-6-xline-height-font-weight: 400;
  --body-6-xline-height-font-size: 12.300000190734863px;
  --body-6-xline-height-letter-spacing: -0.12300000190734864px;
  --body-6-xline-height-line-height: 18px;
  --body-6-xline-height-font-style: normal;
  --body-6-uppercase-font-family: "SF Pro Text", Helvetica;
  --body-6-uppercase-font-weight: 400;
  --body-6-uppercase-font-size: 12px;
  --body-6-uppercase-letter-spacing: 0px;
  --body-6-uppercase-line-height: normal;
  --body-6-uppercase-font-style: normal;
  --body-6-italic-font-family: "SF Pro Text", Helvetica;
  --body-6-italic-font-weight: 400;
  --body-6-italic-font-size: 12px;
  --body-6-italic-letter-spacing: 0px;
  --body-6-italic-line-height: normal;
  --body-6-italic-font-style: italic;
  --body-7-font-family: "SF Pro Text", Helvetica;
  --body-7-font-weight: 400;
  --body-7-font-size: 11px;
  --body-7-letter-spacing: 0px;
  --body-7-line-height: normal;
  --body-7-font-style: normal;
  --body-7-large-kerining-font-family: "SF Pro Text", Helvetica;
  --body-7-large-kerining-font-weight: 400;
  --body-7-large-kerining-font-size: 11px;
  --body-7-large-kerining-letter-spacing: 0.55px;
  --body-7-large-kerining-line-height: normal;
  --body-7-large-kerining-font-style: normal;
  --cta-tabbar-font-family: "SF Pro Text", Helvetica;
  --cta-tabbar-font-weight: 500;
  --cta-tabbar-font-size: 10px;
  --cta-tabbar-letter-spacing: 0.05px;
  --cta-tabbar-line-height: normal;
  --cta-tabbar-font-style: normal;
  --balloon-drop-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
  --primitive-color-alpha-n00-8: rgba(0, 0, 0, 0.08);
  --primitive-color-alpha-n00-30: rgba(0, 0, 0, 0.3);
  --primitive-color-alpha-n00-20: rgba(0, 0, 0, 0.2);
  --primitive-color-alpha-n00-40: rgba(0, 0, 0, 0.4);
  --primitive-color-alpha-n00-50: rgba(0, 0, 0, 0.5);
  --primitive-color-alpha-n00-68: rgba(0, 0, 0, 0.68);
  --primitive-color-alpha-n04-3: rgba(10, 10, 10, 0.03);
  --primitive-color-alpha-n04-4: rgba(10, 10, 10, 0.04);
  --primitive-color-alpha-n04-10: rgba(10, 10, 10, 0.1);
  --primitive-color-alpha-n04-23: rgba(10, 10, 10, 0.23);
  --primitive-color-alpha-n13-80: rgba(34, 34, 34, 0.8);
  --primitive-color-alpha-n96-80: rgba(244, 244, 244, 0.8);
  --primitive-color-alpha-n100-10: rgba(255, 255, 255, 0.1);
  --primitive-color-alpha-n100-15: rgba(255, 255, 255, 0.15);
  --primitive-color-alpha-n100-22: rgba(255, 255, 255, 0.22);
  --primitive-color-alpha-n100-30: rgba(255, 255, 255, 0.3);
  --primitive-color-alpha-n100-35: rgba(255, 255, 255, 0.35);
  --primitive-color-alpha-n100-51: rgba(255, 255, 255, 0.51);
  --primitive-color-alpha-n100-70: rgba(255, 255, 255, 0.7);
  --primitive-color-n04: rgba(10, 10, 10, 1);
  --primitive-color-n09: rgba(23, 23, 23, 1);
  --primitive-color-n13: rgba(34, 34, 34, 1);
  --primitive-color-n14: rgba(35, 38, 38, 1);
  --primitive-color-n23: rgba(59, 59, 59, 1);
  --primitive-color-n31: rgba(77, 79, 78, 1);
  --primitive-color-n34: rgba(89, 88, 84, 1);
  --primitive-color-n39: rgba(97, 96, 102, 1);
  --primitive-color-n47: rgba(118, 119, 121, 1);
  --primitive-color-n58: rgba(149, 147, 148, 1);
  --primitive-color-n70: rgba(178, 178, 178, 1);
  --primitive-color-n78: rgba(197, 197, 199, 1);
  --primitive-color-n80: rgba(204, 204, 204, 1);
  --primitive-color-n85: rgba(221, 218, 211, 1);
  --primitive-color-n90: rgba(228, 228, 230, 1);
  --primitive-color-n96: rgba(244, 244, 244, 1);
  --primitive-color-n100: rgba(255, 255, 255, 1);
  --primitive-color-g19: rgba(20, 77, 55, 1);
  --primitive-color-g32: rgba(28, 136, 84, 1);
  --primitive-color-g39: rgba(29, 171, 97, 1);
  --primitive-color-g44: rgba(33, 192, 99, 1);
  --primitive-color-g90: rgba(208, 254, 207, 1);
  --primitive-color-b49: rgba(0, 123, 252, 1);
  --primitive-color-b66: rgba(81, 167, 254, 1);
  --primitive-color-r46: rgba(233, 0, 57, 1);
  --primitive-color-r65: rgba(251, 80, 98, 1);
  --primitive-color-p50: rgba(212, 42, 102, 1);
  --primitive-color-p72: rgba(255, 114, 162, 1);
  --primitive-color-y74: rgba(255, 209, 121, 1);
  --primitive-color-y90: rgba(254, 238, 205, 1);
  --primitive-color-y91: rgba(240, 233, 223, 1);
  --mode-surface-surface-primary: var(--primitive-color-n100);
  --mode-surface-surface-secondary: var(--primitive-color-n96);
  --mode-surface-surface-chat: var(--primitive-color-y91);
  --mode-surface-surface-options: var(--primitive-color-n100);
  --mode-surface-surface-date: var(--primitive-color-n100);
  --mode-surface-surface-product: var(--primitive-color-g39);
  --mode-surface-surface-panel-blur: var(--primitive-color-alpha-n96-80);
  --mode-surface-surface-panel: var(--primitive-color-n96);
  --mode-surface-surface-input-chat: var(--primitive-color-n100);
  --mode-surface-surface-input-update: var(--primitive-color-alpha-n00-20);
  --mode-surface-surface-invert: var(--primitive-color-n04);
  --mode-surface-surface-search: var(--primitive-color-alpha-n04-3);
  --mode-surface-surface-search-chat: var(--primitive-color-n96);
  --mode-surface-surface-cta-circular: var(--primitive-color-alpha-n04-3);
  --mode-surface-surface-baloon-me: var(--primitive-color-g90);
  --mode-surface-surface-baloon-friend: var(--primitive-color-n100);
  --mode-surface-surface-shadow-baloon: var(--primitive-color-alpha-n00-8);
  --mode-surface-surface-reaction: var(--primitive-color-n100);
  --mode-surface-surface-forw: var(--primitive-color-n70);
  --mode-surface-surface-sound-off: var(--primitive-color-alpha-n00-20);
  --mode-surface-surface-sound-on: var(--primitive-color-alpha-n00-68);
  --mode-surface-surface-speed: var(--primitive-color-alpha-n00-50);
  --mode-surface-surface-segmented: var(--primitive-color-n90);
  --mode-surface-surface-segmented-selected: var(--primitive-color-n100);
  --mode-surface-surface-attachment: var(--primitive-color-alpha-n04-4);
  --mode-surface-surface-unread: var(--primitive-color-alpha-n100-35);
  --mode-surface-surface-alert: var(--primitive-color-y90);
  --mode-surface-surface-progress-track: var(--primitive-color-alpha-n100-51);
  --mode-surface-surface-progress: var(--primitive-color-n100);
  --mode-surface-surface-switch-off: var(--primitive-color-n90);
  --mode-border-brd-panel: var(--primitive-color-alpha-n00-30);
  --mode-border-brd-avatar: var(--primitive-color-alpha-n04-10);
  --mode-border-brd-separator: var(--primitive-color-alpha-n00-20);
  --mode-border-brd-product: var(--primitive-color-g39);
  --mode-border-brd-reaction: var(--primitive-color-y91);
  --mode-border-brd-input-chat: var(--primitive-color-n70);
  --mode-border-brd-quote: var(--primitive-color-p50);
  --mode-border-brd-unread: var(--primitive-color-alpha-n100-35);
  --mode-text-txt-primary: var(--primitive-color-n04);
  --mode-icon-icon-primary: var(--primitive-color-n04);
  --mode-text-txt-secondary: var(--primitive-color-n47);
  --mode-text-txt-secondary-alpha: var(--primitive-color-alpha-n00-50);
  --mode-text-txt-product: var(--primitive-color-g39);
  --mode-text-txt-link: var(--primitive-color-g32);
  --mode-text-txt-invert: var(--primitive-color-n100);
  --mode-icon-icon-secondary: var(--primitive-color-n47);
  --mode-icon-icon-tertiary: var(--primitive-color-n80);
  --mode-icon-icon-invert: var(--primitive-color-n100);
  --mode-text-txt-tabbar: var(--primitive-color-n47);
  --mode-text-txt-tabbar-selected: var(--primitive-color-n04);
  --mode-icon-icon-product: var(--primitive-color-g39);
  --mode-icon-icon-tabbar: var(--primitive-color-n47);
  --mode-icon-icon-tabbar-selected: var(--primitive-color-n04);
  --mode-icon-icon-check: var(--primitive-color-n47);
  --mode-icon-icon-active: var(--primitive-color-b49);
  --mode-icon-icon-check-baloon: var(--primitive-color-alpha-n00-50);
  --mode-icon-icon-forw: var(--primitive-color-n96);
  --mode-text-txt-danger: var(--primitive-color-r46);
  --mode-text-txt-quote-tit: var(--primitive-color-p50);
  --mode-text-txt-quote-txt: var(--primitive-color-n14);
  --mode-text-txt-alert: var(--primitive-color-n04);
  --device-min-height: 852px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-mode-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-mode-mode="light"] {
  --mode-surface-surface-primary: var(--primitive-color-n100);
  --mode-surface-surface-secondary: var(--primitive-color-n96);
  --mode-surface-surface-chat: var(--primitive-color-y91);
  --mode-surface-surface-options: var(--primitive-color-n100);
  --mode-surface-surface-date: var(--primitive-color-n100);
  --mode-surface-surface-product: var(--primitive-color-g39);
  --mode-surface-surface-panel-blur: var(--primitive-color-alpha-n96-80);
  --mode-surface-surface-panel: var(--primitive-color-n96);
  --mode-surface-surface-input-chat: var(--primitive-color-n100);
  --mode-surface-surface-input-update: var(--primitive-color-alpha-n00-20);
  --mode-surface-surface-invert: var(--primitive-color-n04);
  --mode-surface-surface-search: var(--primitive-color-alpha-n04-3);
  --mode-surface-surface-search-chat: var(--primitive-color-n96);
  --mode-surface-surface-cta-circular: var(--primitive-color-alpha-n04-3);
  --mode-surface-surface-baloon-me: var(--primitive-color-g90);
  --mode-surface-surface-baloon-friend: var(--primitive-color-n100);
  --mode-surface-surface-reaction: var(--primitive-color-n100);
  --mode-surface-surface-forw: var(--primitive-color-n70);
  --mode-surface-surface-sound-off: var(--primitive-color-alpha-n00-20);
  --mode-surface-surface-sound-on: var(--primitive-color-alpha-n00-68);
  --mode-surface-surface-speed: var(--primitive-color-alpha-n00-50);
  --mode-surface-surface-segmented: var(--primitive-color-n90);
  --mode-surface-surface-segmented-selected: var(--primitive-color-n100);
  --mode-surface-surface-attachment: var(--primitive-color-alpha-n04-4);
  --mode-surface-surface-unread: var(--primitive-color-alpha-n100-35);
  --mode-surface-surface-alert: var(--primitive-color-y90);
  --mode-surface-surface-switch-off: var(--primitive-color-n90);
  --mode-border-brd-panel: var(--primitive-color-alpha-n00-30);
  --mode-border-brd-avatar: var(--primitive-color-alpha-n04-10);
  --mode-border-brd-separator: var(--primitive-color-alpha-n00-20);
  --mode-border-brd-product: var(--primitive-color-g39);
  --mode-border-brd-reaction: var(--primitive-color-y91);
  --mode-border-brd-input-chat: var(--primitive-color-n70);
  --mode-border-brd-quote: var(--primitive-color-p50);
  --mode-border-brd-unread: var(--primitive-color-alpha-n100-35);
  --mode-text-txt-primary: var(--primitive-color-n04);
  --mode-icon-icon-primary: var(--primitive-color-n04);
  --mode-text-txt-secondary: var(--primitive-color-n47);
  --mode-text-txt-secondary-alpha: var(--primitive-color-alpha-n00-50);
  --mode-text-txt-product: var(--primitive-color-g39);
  --mode-text-txt-link: var(--primitive-color-g32);
  --mode-text-txt-invert: var(--primitive-color-n100);
  --mode-icon-icon-secondary: var(--primitive-color-n47);
  --mode-icon-icon-tertiary: var(--primitive-color-n80);
  --mode-icon-icon-invert: var(--primitive-color-n100);
  --mode-text-txt-tabbar: var(--primitive-color-n47);
  --mode-text-txt-tabbar-selected: var(--primitive-color-n04);
  --mode-icon-icon-product: var(--primitive-color-g39);
  --mode-icon-icon-tabbar: var(--primitive-color-n47);
  --mode-icon-icon-tabbar-selected: var(--primitive-color-n04);
  --mode-icon-icon-check: var(--primitive-color-n47);
  --mode-icon-icon-active: var(--primitive-color-b49);
  --mode-icon-icon-check-baloon: var(--primitive-color-alpha-n00-50);
  --mode-icon-icon-forw: var(--primitive-color-n96);
  --mode-text-txt-danger: var(--primitive-color-r46);
  --mode-text-txt-quote-tit: var(--primitive-color-p50);
  --mode-text-txt-quote-txt: var(--primitive-color-n14);
  --mode-text-txt-alert: var(--primitive-color-n04);
}

[data-mode-mode="dark"] {
  --mode-surface-surface-primary: var(--primitive-color-n04);
  --mode-surface-surface-secondary: var(--primitive-color-n04);
  --mode-surface-surface-chat: var(--primitive-color-n04);
  --mode-surface-surface-options: var(--primitive-color-n09);
  --mode-surface-surface-date: var(--primitive-color-n09);
  --mode-surface-surface-product: var(--primitive-color-g44);
  --mode-surface-surface-panel-blur: var(--primitive-color-alpha-n13-80);
  --mode-surface-surface-panel: var(--primitive-color-n14);
  --mode-surface-surface-input-chat: var(--primitive-color-n23);
  --mode-surface-surface-input-update: var(--primitive-color-alpha-n100-22);
  --mode-surface-surface-invert: var(--primitive-color-n100);
  --mode-surface-surface-search: var(--primitive-color-n13);
  --mode-surface-surface-search-chat: var(--primitive-color-n13);
  --mode-surface-surface-cta-circular: var(--primitive-color-n13);
  --mode-surface-surface-baloon-me: var(--primitive-color-g19);
  --mode-surface-surface-baloon-friend: var(--primitive-color-n14);
  --mode-surface-surface-reaction: var(--primitive-color-n14);
  --mode-surface-surface-forw: var(--primitive-color-n23);
  --mode-surface-surface-sound-off: var(--primitive-color-alpha-n100-30);
  --mode-surface-surface-sound-on: var(--primitive-color-alpha-n100-70);
  --mode-surface-surface-speed: var(--primitive-color-alpha-n00-68);
  --mode-surface-surface-segmented: var(--primitive-color-n14);
  --mode-surface-surface-segmented-selected: var(--primitive-color-n39);
  --mode-surface-surface-attachment: var(--primitive-color-alpha-n04-23);
  --mode-surface-surface-unread: var(--primitive-color-alpha-n00-40);
  --mode-surface-surface-alert: var(--primitive-color-n09);
  --mode-surface-surface-switch-off: var(--primitive-color-n23);
  --mode-border-brd-panel: var(--primitive-color-alpha-n100-15);
  --mode-border-brd-avatar: var(--primitive-color-alpha-n100-15);
  --mode-border-brd-separator: var(--primitive-color-alpha-n100-10);
  --mode-border-brd-product: var(--primitive-color-g44);
  --mode-border-brd-reaction: var(--primitive-color-n04);
  --mode-border-brd-input-chat: var(--primitive-color-n31);
  --mode-border-brd-quote: var(--primitive-color-p72);
  --mode-border-brd-unread: var(--primitive-color-alpha-n100-15);
  --mode-text-txt-primary: var(--primitive-color-n100);
  --mode-icon-icon-primary: var(--primitive-color-n100);
  --mode-text-txt-secondary: var(--primitive-color-n58);
  --mode-text-txt-secondary-alpha: var(--primitive-color-alpha-n100-51);
  --mode-text-txt-product: var(--primitive-color-g44);
  --mode-text-txt-link: var(--primitive-color-g44);
  --mode-text-txt-invert: var(--primitive-color-n04);
  --mode-icon-icon-secondary: var(--primitive-color-n58);
  --mode-icon-icon-tertiary: var(--primitive-color-n34);
  --mode-icon-icon-invert: var(--primitive-color-n04);
  --mode-text-txt-tabbar: var(--primitive-color-n58);
  --mode-text-txt-tabbar-selected: var(--primitive-color-n100);
  --mode-icon-icon-product: var(--primitive-color-g44);
  --mode-icon-icon-tabbar: var(--primitive-color-n58);
  --mode-icon-icon-tabbar-selected: var(--primitive-color-n100);
  --mode-icon-icon-check: var(--primitive-color-n58);
  --mode-icon-icon-active: var(--primitive-color-b66);
  --mode-icon-icon-check-baloon: var(--primitive-color-alpha-n100-51);
  --mode-icon-icon-forw: var(--primitive-color-n85);
  --mode-text-txt-danger: var(--primitive-color-r65);
  --mode-text-txt-quote-tit: var(--primitive-color-p72);
  --mode-text-txt-quote-txt: var(--primitive-color-n78);
  --mode-text-txt-alert: var(--primitive-color-y74);
}
