:root {
  --surface-main: rgba(255, 255, 255, 1);
  --secondary-2: rgba(177, 181, 195, 1);
  --on-surface: rgba(35, 38, 47, 1);
  --success: rgba(88, 189, 125, 1);
  --critical: rgba(211, 53, 53, 1);
  --darkhover: rgba(34, 38, 48, 1);
  --darkbackground-dark: rgba(20, 20, 22, 1);
  --primary: rgba(55, 114, 255, 1);
  --surface: rgba(247, 247, 247, 1);
  --stroke: rgba(230, 232, 236, 1);
  --line: rgba(229, 229, 229, 1);
  --coreblack: rgba(0, 0, 0, 1);
  --primary-05: rgba(0, 96, 255, 1);
  --green-1: rgba(33, 150, 83, 1);
  --red: rgba(235, 87, 87, 1);
  --small-text-regular12-font-family: "Inter", Helvetica;
  --small-text-regular12-font-weight: 400;
  --small-text-regular12-font-size: 12px;
  --small-text-regular12-letter-spacing: -0.24px;
  --small-text-regular12-line-height: normal;
  --small-text-regular12-font-style: normal;
  --small-text-regular-14-font-family: "Inter", Helvetica;
  --small-text-regular-14-font-weight: 400;
  --small-text-regular-14-font-size: 14px;
  --small-text-regular-14-letter-spacing: 0px;
  --small-text-regular-14-line-height: 28px;
  --small-text-regular-14-font-style: normal;
  --small-text-regular-14-caps-font-family: "Inter", Helvetica;
  --small-text-regular-14-caps-font-weight: 400;
  --small-text-regular-14-caps-font-size: 14px;
  --small-text-regular-14-caps-letter-spacing: 0px;
  --small-text-regular-14-caps-line-height: 28px;
  --small-text-regular-14-caps-font-style: normal;
  --small-text-medium-12-font-family: "Inter", Helvetica;
  --small-text-medium-12-font-weight: 500;
  --small-text-medium-12-font-size: 14px;
  --small-text-medium-12-letter-spacing: 0px;
  --small-text-medium-12-line-height: 28px;
  --small-text-medium-12-font-style: normal;
  --small-text-medium-14-font-family: "Inter", Helvetica;
  --small-text-medium-14-font-weight: 500;
  --small-text-medium-14-font-size: 14px;
  --small-text-medium-14-letter-spacing: 0px;
  --small-text-medium-14-line-height: 28px;
  --small-text-medium-14-font-style: normal;
  --body-text-regular-16-font-family: "Inter", Helvetica;
  --body-text-regular-16-font-weight: 400;
  --body-text-regular-16-font-size: 16px;
  --body-text-regular-16-letter-spacing: 0px;
  --body-text-regular-16-line-height: 30px;
  --body-text-regular-16-font-style: normal;
  --body-text-regular-16-caps-font-family: "Inter", Helvetica;
  --body-text-regular-16-caps-font-weight: 400;
  --body-text-regular-16-caps-font-size: 16px;
  --body-text-regular-16-caps-letter-spacing: 0px;
  --body-text-regular-16-caps-line-height: 30px;
  --body-text-regular-16-caps-font-style: normal;
  --body-text-medium-16-font-family: "Inter", Helvetica;
  --body-text-medium-16-font-weight: 500;
  --body-text-medium-16-font-size: 16px;
  --body-text-medium-16-letter-spacing: 0px;
  --body-text-medium-16-line-height: 30px;
  --body-text-medium-16-font-style: normal;
  --body-text-medium-16-caps-font-family: "Inter", Helvetica;
  --body-text-medium-16-caps-font-weight: 500;
  --body-text-medium-16-caps-font-size: 16px;
  --body-text-medium-16-caps-letter-spacing: 0px;
  --body-text-medium-16-caps-line-height: 30px;
  --body-text-medium-16-caps-font-style: normal;
  --body-text-semibold-16-font-family: "Inter", Helvetica;
  --body-text-semibold-16-font-weight: 600;
  --body-text-semibold-16-font-size: 16px;
  --body-text-semibold-16-letter-spacing: 0px;
  --body-text-semibold-16-line-height: 30px;
  --body-text-semibold-16-font-style: normal;
  --body-text-semibold-16caps-font-family: "Inter", Helvetica;
  --body-text-semibold-16caps-font-weight: 600;
  --body-text-semibold-16caps-font-size: 16px;
  --body-text-semibold-16caps-letter-spacing: 0px;
  --body-text-semibold-16caps-line-height: 30px;
  --body-text-semibold-16caps-font-style: normal;
  --SH-text-regular-18-font-family: "Inter", Helvetica;
  --SH-text-regular-18-font-weight: 400;
  --SH-text-regular-18-font-size: 18px;
  --SH-text-regular-18-letter-spacing: 0px;
  --SH-text-regular-18-line-height: 30px;
  --SH-text-regular-18-font-style: normal;
  --SH-text-regular-20-font-family: "Inter", Helvetica;
  --SH-text-regular-20-font-weight: 400;
  --SH-text-regular-20-font-size: 20px;
  --SH-text-regular-20-letter-spacing: 0px;
  --SH-text-regular-20-line-height: 30px;
  --SH-text-regular-20-font-style: normal;
  --SH-text-semibold-18-font-family: "Inter", Helvetica;
  --SH-text-semibold-18-font-weight: 600;
  --SH-text-semibold-18-font-size: 20px;
  --SH-text-semibold-18-letter-spacing: 0px;
  --SH-text-semibold-18-line-height: 30px;
  --SH-text-semibold-18-font-style: normal;
  --SH-text-semibold-20-font-family: "Inter", Helvetica;
  --SH-text-semibold-20-font-weight: 600;
  --SH-text-semibold-20-font-size: 18px;
  --SH-text-semibold-20-letter-spacing: 0px;
  --SH-text-semibold-20-line-height: 30px;
  --SH-text-semibold-20-font-style: normal;
  --heading-h1-bold-48-font-family: "Inter", Helvetica;
  --heading-h1-bold-48-font-weight: 700;
  --heading-h1-bold-48-font-size: 48px;
  --heading-h1-bold-48-letter-spacing: -0.96px;
  --heading-h1-bold-48-line-height: 70px;
  --heading-h1-bold-48-font-style: normal;
  --heading-h1-bold-40-font-family: "Inter", Helvetica;
  --heading-h1-bold-40-font-weight: 700;
  --heading-h1-bold-40-font-size: 40px;
  --heading-h1-bold-40-letter-spacing: -0.8px;
  --heading-h1-bold-40-line-height: 44px;
  --heading-h1-bold-40-font-style: normal;
  --heading-h1-bold-36-font-family: "Inter", Helvetica;
  --heading-h1-bold-36-font-weight: 700;
  --heading-h1-bold-36-font-size: 36px;
  --heading-h1-bold-36-letter-spacing: -0.72px;
  --heading-h1-bold-36-line-height: 44px;
  --heading-h1-bold-36-font-style: normal;
  --heading-h1-bold-32-font-family: "Inter", Helvetica;
  --heading-h1-bold-32-font-weight: 700;
  --heading-h1-bold-32-font-size: 32px;
  --heading-h1-bold-32-letter-spacing: -0.64px;
  --heading-h1-bold-32-line-height: 44px;
  --heading-h1-bold-32-font-style: normal;
  --heading-h1-bold-28-font-family: "Inter", Helvetica;
  --heading-h1-bold-28-font-weight: 700;
  --heading-h1-bold-28-font-size: 28px;
  --heading-h1-bold-28-letter-spacing: -0.56px;
  --heading-h1-bold-28-line-height: 44px;
  --heading-h1-bold-28-font-style: normal;
  --body-3-font-family: "DM Sans", Helvetica;
  --body-3-font-weight: 400;
  --body-3-font-size: 16px;
  --body-3-letter-spacing: 0px;
  --body-3-line-height: 24px;
  --body-3-font-style: normal;
  --headline-5-font-family: "DM Sans", Helvetica;
  --headline-5-font-weight: 700;
  --headline-5-font-size: 24px;
  --headline-5-letter-spacing: 0px;
  --headline-5-line-height: 32px;
  --headline-5-font-style: normal;
  --body-1-font-family: "DM Sans", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 20px;
  --body-1-letter-spacing: -0.2px;
  --body-1-line-height: 28px;
  --body-1-font-style: normal;
  --headline-4-font-family: "DM Sans", Helvetica;
  --headline-4-font-weight: 700;
  --headline-4-font-size: 32px;
  --headline-4-letter-spacing: -0.32px;
  --headline-4-line-height: 40px;
  --headline-4-font-style: normal;
  --button-default-font-family: "DM Sans", Helvetica;
  --button-default-font-weight: 700;
  --button-default-font-size: 16px;
  --button-default-letter-spacing: 0px;
  --button-default-line-height: 16px;
  --button-default-font-style: normal;
  --button-small-font-family: "DM Sans", Helvetica;
  --button-small-font-weight: 700;
  --button-small-font-size: 14px;
  --button-small-letter-spacing: 0px;
  --button-small-line-height: 16px;
  --button-small-font-style: normal;
  --headline-2-font-family: "DM Sans", Helvetica;
  --headline-2-font-weight: 700;
  --headline-2-font-size: 48px;
  --headline-2-letter-spacing: -0.96px;
  --headline-2-line-height: 56px;
  --headline-2-font-style: normal;
  --headline-1-font-family: "DM Sans", Helvetica;
  --headline-1-font-weight: 700;
  --headline-1-font-size: 64px;
  --headline-1-letter-spacing: -1.28px;
  --headline-1-line-height: 72px;
  --headline-1-font-style: normal;
  --body-02-bold-font-family: "DM Sans", Helvetica;
  --body-02-bold-font-weight: 700;
  --body-02-bold-font-size: 18px;
  --body-02-bold-letter-spacing: 0px;
  --body-02-bold-line-height: 24px;
  --body-02-bold-font-style: normal;
  --body-02-font-family: "DM Sans", Helvetica;
  --body-02-font-weight: 400;
  --body-02-font-size: 18px;
  --body-02-letter-spacing: 0px;
  --body-02-line-height: 28px;
  --body-02-font-style: normal;
  --caption-meta-text-font-family: "Lato", Helvetica;
  --caption-meta-text-font-weight: 500;
  --caption-meta-text-font-size: 14px;
  --caption-meta-text-letter-spacing: 0.5px;
  --caption-meta-text-line-height: normal;
  --caption-meta-text-font-style: normal;
  --caption-regular-font-family: "Lato", Helvetica;
  --caption-regular-font-weight: 400;
  --caption-regular-font-size: 12px;
  --caption-regular-letter-spacing: 0.5px;
  --caption-regular-line-height: normal;
  --caption-regular-font-style: normal;
  --drop-shadow: 0px 10px 25px 0px rgba(71, 92, 133, 0.1);
  --colors-gray: rgba(25, 38, 56, 1);
  --variable-collection-primary: rgba(0, 157, 1, 1);
}
