*{
    margin: 0;
}
.burger{
    margin-top: 10%;
    margin-left: 10% ;
    
  
}
.head{
    
}
.card{
    margin-left: 70%;
   
}
.del{
    font-size: 35px;
    margin-left: 12%;


}
.search{
    padding: 15px 35px;
    border: none;
}
.search-bar{
margin-left: 20px;
align-items: flex-start;
background-color: hsl(0, 0%, 98%);
}